.appbar{
    background-color: #fff;
    
}
select{
    border-color: #a8abac;
    padding: 5px 5px;
   
}

input[type="checkbox" ] {
    display: flex;
    justify-content: start;
    border: 2px solid #dfdfdf;
    padding: 20px;
    height: 20px;
    width: 20px;

}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
  }
.chartcontent{
    max-width: 405px ;
    margin: auto;
   
}
.chart{
    height: 400px;
    width: '100%';
}